.card {
  width: 95%;
  padding: 5px;
  display: flex;
  margin: 20px;
  border: 1px solid #dad7d7;
  border-radius: 5px;
  background-color: #fefcfc;
}

.card-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.details-btn {
  text-align: right;
  justify-content: end;
}
